{% extends '@OpensoftBookshelf/layout.html.twig' %}

{% block content -%}
    <h1>Редактировать книгу</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('book') }}">
            Обратно к списку
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
