{% extends '@OpensoftBookshelf/layout.html.twig' %}

{% form_theme edit_form 'OpensoftBookshelfBundle:Book:bookFormTheme.html.twig' %}

{% block content -%}
    <h1>Редактировать книгу</h1>

    {% include 'OpensoftBookshelfBundle:Book:editForm.html.twig' with {'edit_form': edit_form} %}

    <div class="clearfix"></div>
    {{ form(delete_form) }}

{% endblock %}
