{% extends '@OpensoftBookshelf/layout.html.twig' %}

{% form_theme form 'OpensoftBookshelfBundle:Book:bookFormTheme.html.twig' %}

{% block content -%}
    <h1>Добавить книгу</h1>

    {% include 'OpensoftBookshelfBundle:Book:editForm.html.twig' with {'edit_form': form} %}

{% endblock %}
