{% extends "OpensoftBookshelfBundle::layout.html.twig" %}

{% block title "Add Category" %}

{% block content %}
    <form action="{{ path('category_add') }}" method="post">
        {{ form_rest(form) }}
        <input type="submit">
    </form>
{% endblock %}
