{% extends "OpensoftBookshelfBundle::layout.html.twig" %}

{% block title "Categories list" %}

{% block content %}
    <div class="container">
        {% if categories is not empty %}
            <table class="table table-bordered table-hover bookshelf-table">
                <tr>
                    <th> Name </th>
                    <th> Books quantity </th>
                </tr>
                {% for category in categories %}
                    <tr>
                        <td>
                            {{ category.name }}
                        </td>
                        <td> {{ category.name }} </td>
                        <td align="center" class="col-md-1">
                            <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td align="center" class="col-md-1">
                            <a href="{{ path('category_delete', {'id': category.id}) }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}
